.folder-panel {
  background-color: var(--gray-2);
  grid-column-end: span 3;
  border-right: 1px solid var(--border-gray);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
  padding-bottom: 2.625rem;
}

.folder-panel__add-folder-button-wrapper {
  position: absolute;
}

.folder-panel__add-folder-button-container {
  position: fixed;
  bottom: 0;
  width: 11.4rem; /* HACK */
  background-color: var(--gray-2);
}

.folder-panel__header {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: 100;
  font-family: 'Nunito';
}

.folder-panel__folders {
  display: flex;
  flex-direction: column;
}

.folder-panel__folder {
  background-color: transparent;
  border: none;
  flex-grow: 1;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: var(--rounded-sm);
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: default;
  user-select: none;
  font-weight: 300;
}

.folder-panel__folder:hover {
  background-color: var(--gray-3);
}

.folder-panel__folder--selected {
  background: var(--gray-3);
  font-weight: 500;
}

.folder-panel__folder--selected:hover {
  background: var(--gray-5);
}

.folder-panel__folder--focused {
  background: var(--gray-4);
}

.folder-panel__folder__label {
  color: black;
}

.folder-panel__add-folder-button {
  border: none;
  margin: 0.5rem;
  color: var(--gray-5);
  width: fit-content;
  background-color: transparent;
}

.folder-panel__add-folder-button:hover {
  color: var(--pink-2);
}

.folder-panel__add-folder-button__icon {
  display: flex;
  align-items: center;
  margin-right: 0.25rem;
}
