.note-panel {
  grid-column-end: span 6;
}

.note-panel--rendered {
  overflow-y: auto;
  padding-bottom: 1rem;
}

.note-panel__name-input {
  background-color: transparent;
  border: none;
  width: 100%;
  outline: none;
  font-size: 2rem;
  margin-bottom: 0.25rem;
  z-index: 1;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid var(--gray-3);
}

.note-panel--controls {
  border-bottom: 1px solid var(--gray-3);
  padding: 0.625rem;
  display: flex;
  justify-content: space-between;
}

.note-panel--controls--hidden {
  display: none;
}

.note-panel--controls__collapse-button {
  width: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  border-radius: 2px;
}

.note-panel--controls__expand-button {
  position: absolute;
  right: 1.5rem;
  width: 1rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  border-radius: 2px;
}

.note-panel--controls__button:hover {
  background-color: var(--pink-1);
}

.note-panel--controls__button {
  background-color: transparent;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--rounded-sm);
  padding: 0.625rem;
}

.note-panel--controls__button--active {
  background-color: var(--pink-2);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: white;
}

.note-panel--controls__button--active:hover {
  background-color: var(--pink-3);
}

.note-panel__text-input {
  width: 100%;
  border: none;
  height: calc(100% - 8rem);
  outline: none;
  resize: none;
  font-size: 1rem;
  padding: 1rem;
}

.note-panel__text-input--taller {
  height: calc(100% - 3.65rem);
}

.note-panel__rendered-text {
  padding: 1rem;
}

.note-panel__rendered-text blockquote {
  margin: 1rem 0rem;
  border-left: 0.25rem solid var(--gray-3);
  background-color: var(--gray-3);
  border-radius: 4px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.note-panel__rendered-text pre {
  overflow-x: auto;
  overflow-y: hidden;
  padding: 1rem;
  background-color: var(--gray-3);
  border-radius: 4px;
}

.note-panel__rendered-text code {
  font-size: 0.8rem;
}

.note-panel__rendered-text blockquote p {
  display: inline-block;
  padding: 1rem;
  margin: 0;
}
