.notes-panel {
  grid-column-end: span 3;
  border-right: 1px solid var(--border-gray);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  overflow-y: auto;
  position: relative;
  padding-bottom: 2.75rem;
}

.note-panel__add-note-button-wrapper {
  position: absolute;
}

.notes-panel__add-note-button-container {
  position: fixed;
  bottom: 0;
  width: 11.4rem; /* HACK */
  background-color: white;
}

.notes-panel__add-note-button {
  color: var(--gray-5);
  padding: 0.25rem;
  background-color: transparent;
  border: none;
  margin: 0.5rem;
}

.notes-panel__add-note-button:hover {
  color: var(--pink-2);
}

.notes-panel__notes {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.notes-panel__note {
  flex-grow: 1;
  border: none;
  background-color: transparent;
  padding: 0.5rem;
  margin: 0.5rem;
  text-align: left;
  border-radius: var(--rounded-sm);
  font-weight: 300;
}

.notes-panel__note:hover {
  background-color: var(--pink-1);
}

.notes-panel__note--selected {
  background: var(--pink-2);
  font-weight: 500;
}

.notes-panel__note--selected:hover {
  background: var(--pink-3);
}

.notes-panel__note__label {
  color: black;
}

.notes-panel__note--selected > .notes-panel__note__label {
  color: white;
}
