.app {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  /* Subtract 2px to account for the top and bottom border */
  height: calc(100vh);
  padding-top: 47px;
  overflow: hidden;
  background-color: white;
  border-radius: var(--rounded-md);
  border: 1px solid var(--border-gray);
}
