@import './styles/shadows.css';
@import './styles/colors.css';
@import './styles/rounded.css';

@font-face {
  font-family: Nunito;
  font-weight: 100;
  src: local('Nunito'),
    url(./assets/fonts/Nunito/Nunito-Light.ttf) format('truetype');
}

@font-face {
  font-family: Nunito;
  font-weight: 400;
  src: local('Nunito'),
    url(./assets/fonts/Nunito/Nunito-Regular.ttf) format('truetype');
}

@font-face {
  font-family: Nunito;
  font-weight: 500;
  src: local('Nunito'),
    url(./assets/fonts/Nunito/Nunito-Medium.ttf) format('truetype');
}

@font-face {
  font-family: Nunito;
  font-weight: 600;
  src: local('Nunito'),
    url(./assets/fonts/Nunito/Nunito-Black.ttf) format('truetype');
}

html {
  background-color: transparent;
}

body {
  margin: 0;
  font-family: 'Nunito';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body * {
  font-family: 'Nunito';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
